<!DOCTYPE HTML>
<html ng-app="giv2railapp" style="width:100%; height:100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/leaflet.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="css/leaflet.label.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="js/node_modules/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="js/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="js/jquery-ui-1.12.1.custom/jquery-ui.css" />
    
    <script src="js/angular.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="js/leaflet.js"></script>
    <script src="js/leaflet.label.js"></script>
  	<script src="js/angular-leaflet-directive.min.js"></script>
    <script src='js/app.js'></script>
    <script src="js/moment-with-locales.min.js"></script>
    <script src="js/stomp.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/date.format.js"></script>
    <script src="js/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="js/thread.js"></script>
    <script src="js/jquery.fileDownload.js"></script>

    
    <!--<script src="js/giv2rail.js"></script>-->
    <title>GIV2RAIL</title>
  </head>
  <body ng-controller="giv2railController" style="width:100%; height:100%;  margin: 0px; padding: 0px;">
        <div id="sombra">
           <img id="tiempoReal" ng-click="activarTiempoReal()" title="Tiempo Real" src="img/realtime.png"/>
           <img id="historico" title="Histórico" src="img/historico.png"/>
          </div>
          <leaflet paths="lineas" defaults="defaults" markers="markers" center="center" style="width:100%; height:100%"></leaflet>
          <div id="divPowered" style="position:absolute;bottom:15px;right:5px; z-index: 998;">
            <label>Powered by </label>
            <img src="img/caf.png" style="width:130px;">
            <img src="img/deustotech.png" style="width:130px;">
          </div>
  </body>
  <!-- El modal -->
  <div id="historicoModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times</span>
        <h2>Buscar en el histórico</h2>
      </div>
      <div class="modal-body">
        <ng-form name="exampleForm">
          <label>Buscar por: </label>
          <select ng-model="data.seleccion" ng-change="" ng-options="opcion for opcion in data.opcionesBusqueda"></select>
          <input type="text" name="busqueda" ng-model="data.inputBusqueda" ng-show="data.seleccion=='ID tren' || data.seleccion=='ID tren y Fecha'" ng-pattern="comprobarBusqueda()" placeholder="ID" required>
          <button ng-click="buscarHistorico()">Buscar</button>
          <button ng-click="descargarCSV()">Descargar CSV</button>
          <loading></loading>
          <small class="error" ng-show="exampleForm.busqueda.$error.pattern">Patrón invalido</small>
          <br>
          <label ng-show="data.seleccion=='Fecha' || data.seleccion=='ID tren y Fecha'">Desde: </label>
          <div ng-show="data.seleccion=='Fecha' || data.seleccion=='ID tren y Fecha'" class='input-group date' timepicker ng-model="date1">
            <input type='text' readonly="readonly" class="form-control" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
          <label ng-show="data.seleccion=='Fecha' || data.seleccion=='ID tren y Fecha'">Hasta: </label>
          <div ng-show="data.seleccion=='Fecha' || data.seleccion=='ID tren y Fecha'" class='input-group date' timepicker ng-model="date2">
            <input type='text' readonly="readonly" class="form-control" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </ng-form>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" align="center">
          <img class="img-circle" id="img_logo" src="img/deustotech.png">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </div>
                
                <!-- Begin # DIV Form -->
                <div id="div-forms">
                
                    <!-- Begin # Login Form -->
                    <form id="login-form">
                    <div class="modal-body">
                <div id="div-login-msg">
                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-login-msg">Escribe tu usuario y contraseña</span>
                            </div>
                <input id="login_username" class="form-control" ng-model="usuario" type="text" placeholder="Usuario" required>
                <input id="login_password" class="form-control" ng-model="contrasena" type="password" placeholder="Contraseña" required>
                            <div class="checkbox">
                                <label>
                                    <!--<input type="checkbox"> Remember me-->
                                </label>
                            </div>
                  </div>
                <div class="modal-footer">
                            <div>
                                <button ng-click="logearse()" class="btn btn-primary btn-lg btn-block">Conectarse</button>
                            </div>
                  <div>
                               <!-- <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                                <button id="login_register_btn" type="button" class="btn btn-link">Register</button>-->
                            </div>
                </div>
                    </form>
                    <!-- End # Login Form -->
                    
                    <!-- Begin | Lost Password Form -->
                    <form id="lost-form" style="display:none;">
                  <div class="modal-body">
                <div id="div-lost-msg">
                                <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-lost-msg">Type your e-mail.</span>
                            </div>
                <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
                  </div>
                <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                            </div>
                            <div>
                                <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                            </div>
                </div>
                    </form>
                    <!-- End | Lost Password Form -->
                    
                    <!-- Begin | Register Form -->
                    <form id="register-form" style="display:none;">
                    <div class="modal-body">
                <div id="div-register-msg">
                                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-register-msg">Register an account.</span>
                            </div>
                <input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                            <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
                            <input id="register_password" class="form-control" type="password" placeholder="Password" required>
                  </div>
                <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                            </div>
                            <div>
                                <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            </div>
                </div>
                    </form>
                    <!-- End | Register Form -->
                    
                </div>
                <!-- End # DIV Form -->
                
      </div>
    </div>
  </div>

</html>