<!DOCTYPE HTML>
<html ng-app="giv2railapp" style="width:100%; height:100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/leaflet.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="css/leaflet.label.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="js/node_modules/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="js/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="js/jquery-ui-1.12.1.custom/jquery-ui.css" />
    
    <script src="js/angular.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="js/leaflet.js"></script>
    <script src="js/leaflet.label.js"></script>
  	<script src="js/angular-leaflet-directive.min.js"></script>
    <script src='js/app.js'></script>
    <script src="js/moment-with-locales.min.js"></script>
    <script src="js/stomp.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/date.format.js"></script>
    <script src="js/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="js/thread.js"></script>
    <script src="js/jquery.fileDownload.js"></script>
    <script src="js/ui-bootstrap-tpls-0.9.0.js"></script>
    

    
    <!--<script src="js/giv2rail.js"></script>-->
    <title>GIVARAIL</title>
  </head>
  <body ng-controller="giv2railController" style="width:100%; height:100%;  margin: 0px; padding: 0px;">
        <div id="sombra">
           <img id="tiempoReal" ng-click="activarTiempoReal()" title="Tiempo Real" src="img/realtime.png"/>
           <img id="historico" title="Histórico" src="img/historico.png"/>
          </div>
          <leaflet paths="lineas" defaults="defaults" markers="markers" center="center" style="width:100%; height:100%"></leaflet>
          <div id="divPowered" style="position:absolute;bottom:15px;right:5px; z-index: 998;">
            <label>Powered by </label>
            <img src="img/deustotech.png" style="width:130px;">
          </div>
  </body>
  <!-- El modal -->
  <div id="historicoModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times</span>
        <h2>Buscar en el histórico</h2>
      </div>
      <div class="modal-body">
        <ng-form name="exampleForm">
          <label>Buscar por: </label>
          <select ng-model="data.seleccion" ng-change="" ng-options="opcion for opcion in data.opcionesBusqueda"></select>
          <input type="text" name="busqueda" ng-model="data.inputBusqueda" ng-show="data.seleccion=='ID tren' || data.seleccion=='ID tren y Fecha'" ng-pattern="comprobarBusqueda()" placeholder="ID" required>
          <button ng-click="buscarHistorico()">Buscar</button>
          <button ng-click="descargarCSV()">Descargar CSV</button>
          <loading></loading>
          <small class="error" ng-show="exampleForm.busqueda.$error.pattern">Patrón invalido</small>
          <br>
          <label ng-show="data.seleccion=='Fecha' || data.seleccion=='ID tren y Fecha'">Desde: </label>
          <div ng-show="data.seleccion=='Fecha' || data.seleccion=='ID tren y Fecha'" class='input-group date' timepicker ng-model="date1">
            <input type='text' readonly="readonly" class="form-control" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
          <label ng-show="data.seleccion=='Fecha' || data.seleccion=='ID tren y Fecha'">Hasta: </label>
          <div ng-show="data.seleccion=='Fecha' || data.seleccion=='ID tren y Fecha'" class='input-group date' timepicker ng-model="date2">
            <input type='text' readonly="readonly" class="form-control" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </ng-form>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
  <div id="divLogin">
        <div id="divInfoInicio">
          <img src="img/elkartek.gif" style="width: 300px; float: left; margin-left: 150px;">
          <h1 style="text-align: left; margin-top: 10px; margin-bottom: 30px; margin-left: 350px;">GIVARAIL</h1>
          <p>El objetivo principal del proyecto GIVARAIL es investigar en la fusión de tecnologías de posicionamiento (GNSS e INS) y visión artificial para conseguir una conducción automática más segura, eficiente y precisa de los vehículos ferroviarios, que redundará en una mayor rentabilidad de los proyectos integrales ferroviarios.</p>
        </div>
        <div id="formLogin" style="top:440px;">
          <label>GIVARAIL</label>
          <input type="text" ng-model="usuariologin" class="form-control" id="inputUsuario" placeholder="Username">
          <input type="password" ng-model="passwordlogin" class="form-control" id="inputPassword" placeholder="Password">
          <button class="btn btn-success  btn-lg" ng-click="logearse()" id="botLogin">Login</button>
          <br>
          <div ng-show="errorLogin=='todo'" style="text-align: center;" class="alert alert-danger">
            <strong>Error!</strong> compruebe usuario y contraseña
          </div>
          <div ng-show="errorLogin=='password'" style="text-align: center;" class="alert alert-danger">
            <strong>Error!</strong> contraseña erronea
          </div>
          <div ng-show="errorLogin=='login'" style="text-align: center;" class="alert alert-danger">
            <strong>Error!</strong> en la conexión. Intenteló de nuevo más tarde o contacte con el administrador
          </div>
          <div ng-show="errorLogin=='none'" style="text-align: center;" class="alert alert-success">
            <strong>Correcto!</strong>
          </div>
          <div class="progress" style="margin-top:30px; display:none;" id="barraCargando">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; margin-top-50px;">
              <span class="sr-only">45% Complete</span>
            </div>
          </div>
        </div>
  </div>

</html>